body {
  margin: 0;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: url("../images/bg-hero-desktop.svg") #ebfbff;
  width: 100%;
}

.intro__header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.intro__logo {
  width: 180px;
  margin: 40px 0 0 60px;
}

.intro__header-btn {
  border: none;
  border-radius: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 14.5px;
  font-weight: 700;
  letter-spacing: 0.4px;
  padding: 18px 60px;
  text-align: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 40px 60px 0 auto;
}

.intro__header-btn--pink {
  background-color: #ff52bf;
  color: #ebfbff;
}

.intro__header-btn--white {
  background-color: white;
  color: #00252e;
}

.intro__header-btn--small {
  padding: 13px 50px;
}

.intro__header-btn--large {
  font-size: 16.5px;
  padding: 21px 80px;
}

.intro__header-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.intro__img-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 80px;
}

.intro__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 35px;
}

.intro__heading {
  color: #00252e;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 600;
  margin: 0;
  width: 90%;
}

.intro__paragraph {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 25px;
  width: 90%;
  margin: 20px 0 35px;
}

.intro__paragraph--dark {
  color: #00252e;
}

.intro__paragraph--gray {
  color: #808d99;
}

.intro__paragraph--pale {
  color: #ebfbff;
}

.intro__text-btn {
  border: none;
  border-radius: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 14.5px;
  font-weight: 700;
  letter-spacing: 0.4px;
  padding: 18px 60px;
  text-align: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.intro__text-btn--pink {
  background-color: #ff52bf;
  color: #ebfbff;
}

.intro__text-btn--white {
  background-color: white;
  color: #00252e;
}

.intro__text-btn--small {
  padding: 13px 50px;
}

.intro__text-btn--large {
  font-size: 16.5px;
  padding: 21px 80px;
}

.intro__text-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.intro__img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.intro__img {
  width: 600px;
}

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
}

.blocks__img-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 50px 40px;
  margin: 20px 100px;
}

.blocks__img-text-container--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.blocks__img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blocks__img {
  width: 450px;
}

.blocks__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 0 60px;
}

.blocks__heading {
  color: #00252e;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}

.blocks__paragraph {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 25px;
}

.blocks__paragraph--dark {
  color: #00252e;
}

.blocks__paragraph--gray {
  color: #808d99;
}

.blocks__paragraph--pale {
  color: #ebfbff;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
}

.cta__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 12px;
  padding: 50px 80px;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  -webkit-transform: translate(0, 135px);
          transform: translate(0, 135px);
}

.cta__heading {
  color: #00252e;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 25px;
}

.cta__btn {
  border: none;
  border-radius: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 14.5px;
  font-weight: 700;
  letter-spacing: 0.4px;
  padding: 18px 60px;
  text-align: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cta__btn--pink {
  background-color: #ff52bf;
  color: #ebfbff;
}

.cta__btn--white {
  background-color: white;
  color: #00252e;
}

.cta__btn--small {
  padding: 13px 50px;
}

.cta__btn--large {
  font-size: 16.5px;
  padding: 21px 80px;
}

.cta__btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00252e;
  color: #ebfbff;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  width: 100%;
  padding: 150px 0 50px;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__logo {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  width: 150px;
  margin-bottom: 20px;
}

.footer__img-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon {
  width: 15px;
  margin-right: 20px;
}

.footer__text {
  max-width: 320px;
  letter-spacing: 0.5px;
  line-height: 23px;
  margin: 8px 0;
}

.footer__text--link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer__social-media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-icon {
  font-size: 20px;
  border: 1.5px solid #ebfbff;
  border-radius: 100%;
  padding: 8px 11px;
  margin: 20px 12px 120px 0;
  -webkit-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.footer__social-icon:hover {
  cursor: pointer;
  color: #ff52bf;
  border-color: #ff52bf;
}

#icon-location {
  -webkit-transform: translate(0, -21px);
          transform: translate(0, -21px);
}

@media (max-width: 1000px) {
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .intro__logo {
    width: 130px;
    margin: 40px 0 0 55px;
  }
  .intro__header-btn {
    font-size: 12px;
    padding: 10px 30px;
    margin: 40px 55px 0 auto;
  }
  .intro__img-text-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px;
  }
  .intro__text-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
  }
  .intro__heading {
    font-size: 29px;
    width: 100%;
  }
  .intro__paragraph {
    font-size: 17px;
    width: 100%;
    margin: 30px 0 35px;
  }
  .intro__text-btn {
    width: 90%;
  }
  .intro__img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .intro__img {
    width: 360px;
    margin-top: 45px;
  }
  .blocks__img-text-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
    text-align: center;
    padding-bottom: 30px;
    margin: 0 0 50px;
  }
  .blocks__img {
    width: 280px;
    margin-bottom: 30px;
  }
  .blocks__text-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cta {
    width: 300px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}
/*# sourceMappingURL=styles.css.map */