// VARIABLES //////////////////////////

$colors: (
  Pink: hsl(322, 100%, 66%),
  Very-pale-cyan: hsl(193, 100%, 96%),
  Very-dark-cyan: hsl(192, 100%, 9%),
  Grayish-blue: hsl(208, 11%, 55%),
  White: hsl(0, 100%, 100%),
);

$heading-font: "Poppins", sans-serif;
$body-font: "Open Sans", sans-serif;
$section-font-size: 16px;

$mobile-width: 1000px;

///////////////////////////////////////
// MIXINS /////////////////////////////

@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin heading($heading-font-size: 20px) {
  color: color(Very-dark-cyan);
  font-family: $heading-font;
  font-size: $heading-font-size;
  font-weight: 600;
  margin: 0;
}

@mixin paragraph() {
  font-size: $section-font-size;
  font-family: $body-font;
  font-weight: 400;
  line-height: 25px;

  &--dark {
    color: color(Very-dark-cyan);
  }

  &--gray {
    color: color(Grayish-blue);
  }

  &--pale {
    color: color(Very-pale-cyan);
  }
}

@mixin btn() {
  border: none;
  border-radius: 30px;
  font-family: $body-font;
  font-size: 14.5px;
  font-weight: 700;
  letter-spacing: 0.4px;
  padding: 18px 60px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition: 0.2s;

  &--pink {
    background-color: color(Pink);
    color: color(Very-pale-cyan);
  }

  &--white {
    background-color: color(White);
    color: color(Very-dark-cyan);
  }

  &--small {
    padding: 13px 50px;
  }

  &--large {
    font-size: 16.5px;
    padding: 21px 80px;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

@mixin mobile() {
  @media (max-width: $mobile-width) {
    @content;
  }
}

///////////////////////////////////////
// FUNCTIONS //////////////////////////

@function color($color-name) {
  @return map-get($colors, $color-name);
}

///////////////////////////////////////
// STYLES /////////////////////////////

body {
  margin: 0;
}

.page-container {
  @include flex(row, center, center);
  min-height: 100vh;
}

.page {
  @include flex(column, flex-start, center);
}

.intro {
  @include flex(column, flex-start, flex-start);
  background: url("../images/bg-hero-desktop.svg") color(Very-pale-cyan);
  width: 100%;

  &__header-container {
    @include flex(row, flex-start, center);
    width: 100%;
  }

  &__logo {
    width: 180px;
    margin: 40px 0 0 60px;
  }

  &__header-btn {
    @include btn();
    margin: 40px 60px 0 auto;
  }

  &__img-text-container {
    @include flex(row, center, flex-start);
    padding: 80px;
  }

  &__text-container {
    @include flex(column, flex-start, flex-start);
    margin-top: 35px;
  }

  &__heading {
    @include heading(35px);
    width: 90%;
  }

  &__paragraph {
    @include paragraph();
    width: 90%;
    margin: 20px 0 35px;
  }

  &__text-btn {
    @include btn();
  }

  &__img-container {
    @include flex(row, center, flex-start);
  }

  &__img {
    width: 600px;
  }
}

.blocks {
  @include flex(column, flex-start, center);
  margin-top: 80px;

  &__img-text-container {
    @include flex(row, flex-start, center);
    border-radius: 12px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 50px 40px;
    margin: 20px 100px;

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  &__img-container {
    @include flex(row, center, center);
  }

  &__img {
    width: 450px;
  }

  &__text-container {
    @include flex(column, flex-start, flex-start);
    width: 100%;
    padding: 0 60px;
  }

  &__heading {
    @include heading(25px);
  }

  &__paragraph {
    @include paragraph();
  }
}

.cta {
  @include flex(column, flex-start, center);
  height: 250px;

  &__container {
    @include flex(column, flex-start, center);
    background-color: color(White);
    border-radius: 12px;
    padding: 50px 80px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transform: translate(0, 135px);
  }

  &__heading {
    @include heading(26px);
    margin-bottom: 25px;
  }

  &__btn {
    @include btn();
  }
}

.footer {
  @include flex(row, space-around, center);
  background-color: color(Very-dark-cyan);
  color: color(Very-pale-cyan);
  font-family: $body-font;
  font-size: 12px;
  width: 100%;
  padding: 150px 0 50px;

  &__column {
    @include flex(column, flex-start, flex-start);
  }

  &__logo {
    filter: brightness(0) invert(1);
    width: 150px;
    margin-bottom: 20px;
  }

  &__img-text-container {
    @include flex(row, flex-start, center);
  }

  &__icon {
    width: 15px;
    margin-right: 20px;
  }

  &__text {
    max-width: 320px;
    letter-spacing: 0.5px;
    line-height: 23px;
    margin: 8px 0;

    &--link {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  &__social-media-icons {
    @include flex(row, flex-start, center);
  }

  &__social-icon {
    font-size: 20px;
    border: 1.5px solid color(Very-pale-cyan);
    border-radius: 100%;
    padding: 8px 11px;
    margin: 20px 12px 120px 0;
    transform: translate(0, 30px);
    transition: 0.15s;

    &:hover {
      cursor: pointer;
      color: color(Pink);
      border-color: color(Pink);
    }
  }
}

#icon-location {
  transform: translate(0, -21px);
}

@include mobile() {
  .intro {
    @include flex(column, flex-start, center);
    text-align: center;

    &__logo {
      width: 130px;
      margin: 40px 0 0 55px;
    }

    &__header-btn {
      font-size: 12px;
      padding: 10px 30px;
      margin: 40px 55px 0 auto;
    }

    &__img-text-container {
      flex-direction: column;
      padding: 50px;
    }

    &__text-container {
      align-items: center;
      margin-top: 10px;
    }

    &__heading {
      font-size: 29px;
      width: 100%;
    }

    &__paragraph {
      font-size: 17px;
      width: 100%;
      margin: 30px 0 35px;
    }

    &__text-btn {
      width: 90%;
    }

    &__img-container {
      @include flex(column, flex-start, center);
      width: 100%;
    }

    &__img {
      width: 360px;
      margin-top: 45px;
    }
  }

  .blocks {
    &__img-text-container {
      flex-direction: column;
      width: 300px;
      margin: 0;
    }

    &__img {
      width: 300px;
    }
  }

  .cta {
    width: 300px;
  }

  .footer {
    flex-direction: column;
    padding: 0;
  }
}
